.card {
  max-width: 413px;
}
.card__image {
  height: 413px;
  width: 100%;
  margin-top: 12px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__title {
  margin: 0;
  font-size: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: Medium;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.card__link-button {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}
.card__link-button:hover {
  background-color: #212121;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
