.modal {
  z-index: 9999;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/Group27.svg);
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
}

.modal__close-button_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close.svg);
  color: #ffffff;
  cursor: pointer;
}

.modal__close-button_type_preview:hover {
  opacity: 0.4;
}
.modal__close-button:hover {
  opacity: 0.4;
}
.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}
.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  padding: 16px 12px;
  box-sizing: border-box;
  color: #212121;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}
.modal__input::placeholder {
  color: #2121214d;
}
.modal__submit-button {
  max-width: 156px;
  background-color: #212121;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  gap: 8px;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  position: absolute;
  left: 0;
  color: #ffffff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
}
.modal__submit-button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 627px) {
  .modal {
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .modal__caption {
    font-size: 16px;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__form {
    margin-top: 34px;
  }
  .modal__title {
    font-size: 20px;
  }

  .modal__close-button {
    top: 22px;
    right: 12px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__submit-button {
    max-width: none;
  }
}
@media screen and (max-width: 627px) {
  .modal__close-button_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__image {
    max-width: unset;
  }
}
